# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

.DS_STORE

# LaTeX files
*.log
*.toc
*.fdb_latexmk
*.out
*.nav
*.blg
*.fls
*.bbl
*.synctex.gz
*.aux
*.snm
